.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
  height: 4.5rem;
}

.nav__icon {
  color: #212121;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: #212121;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link:hover{
    color: #808080;
}

.nav__logo,
.nav__toggle,
.nav__close {
  color: #212121;
  font-weight: var(--font-medium);
}

.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}

@media (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
  }

  .nav {
    height: var(--header-height);
  }

  .nav__link {
    font-size: var(--medium-font-size);
  }

  .nav__iteam{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  .show-menu{
    bottom: 0px;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__icon {
    font-size: 1.2rem;
  }

  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #212121;
  }

  .nav__close:hover {
    color:#808080;
  }

  .nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav__close,
  .nav__toggle,
  .nav__icon {
    display: block;
  }
}

@media (max-width: 350px) {
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  

  .nav__list {
    column-gap: 0;
  }
}
